/* Variables de colores */
:root {
    --color1: #1e5a84;
    --color2: #dce6ea;
    --color3: #76a8cb;
    --color4: #626261;
    --color5: #727474;
    --color6: #212529;
}

.containerTitleTxtDetalleProductoPage {
    padding: 10px;
    background-image: url("../assets/images/imagenesTrabajadas/fondoTitulosHero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;  
    justify-content: center;
    align-items: center;
    height: auto;
}

.TitletxtDetalleProductoPage {
    background: linear-gradient(to right, #212529, #000, #212529);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ParrafoHeroTxtDetalleProductoPage {
    background: linear-gradient(to right, #212529, #000, #212529);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.imagenMaquinariaDetalleProductoPage {
    width: auto;
    max-height: 250px;
}

.contenedorCardsDetalleProductoPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-body {
    background-color: #F0F0F0;
}

.card .h-100 {
    background-color: #F0F0F0;
}

.contenedorCardsDetalleProductoPage img {
    height: 200px;
    object-fit: cover;
}